.kasa-about-collapse{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
    margin: 0px 15% 40px 15%;

    @media (max-width: 550px){
        margin: 0px 5% 20px 5%;
        gap: 20px;
    }
}