.kasa-error{
    color: $main-color;
    text-align: center;

    &-title{
        font-size: 288px;
        font-weight: 700;
        margin: 89px 0 139px 0;
        
        @media (max-width: 550px){
            font-size: 96px;
            margin: 86px 0 113px 0;
        }
    }

    &-p{
        font-size: 36px;

        @media (max-width: 550px){
            font-size: 18px;
        }
    }

    &-redir{
        margin: 139px 0;

        @media (max-width: 550px){
            margin: 113px 0;
        }
        
        & a{
        color: $main-color;
        font-size: 18px;
        text-decoration-line: underline;

        @media (max-width: 550px){
                font-size: 14px;      
        }

            &:hover{
                
                font-size: 19px;

                @media (max-width: 550px){
                    font-size: 15px;      
                }
            }
        }
    }
}