.kasa-collapse{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
    margin: 0px 15% 40px 15%;

    @media (max-width: 550px){
        margin: 0px 5% 20px 5%;
    }

    &-div{
        width: 100%;
    }

    &-title{
        display: flex;
        padding: 10px 20px 10px 15px;
        justify-content: space-between; 
        align-items: center;
        color: white;
        font-size: 24px; 
        background-color: $main-color;
        border-radius: 5px;
        
        @media (max-width: 550px){
            font-size: 13px;
            padding: 5px 10px;
        }
    }

    &-arrow{
        @media (max-width: 550px){
            height:20px;
            // width:15px;
        }
    }

    &-text{
        display: flex;
        padding: 20px;
        align-items: flex-start;
        gap: 10px;
        background-color: #F6F6F6;
        border-radius: 0 0 5px 5px;
        color: $main-color;
        font-size: 18px;

        @media (max-width: 550px){
            font-size: 12px;
            padding: 13px 20px 20px 20px;
        }
    }
}