.kasa-collapse{

    &-div{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &-title{
        display: flex;
        padding: 10px 20px 10px 15px;
        justify-content: space-between; 
        align-items: center;
        color: white;
        font-size: 18px; 
        background-color: $main-color;
        border-radius: 5px;
        
        @media (max-width: 550px){
            font-size: 13px;
            padding: 5px 10px;
        }

        @media (min-width: 1440px){
            font-size: 24px;
        }
    }

    &-arrow{
        transform : rotate(0deg);
        transition : transform 500ms;

        @media (max-width: 550px){
                    height:20px;
                }

        &-close{
            transform: rotate(180deg);
            transition : transform 500ms;

            @media (max-width: 550px){
                height:20px;
            }
        }        
    }

    &-text{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 20px;
        align-items: flex-start;
        line-height: 25px;
        background-color: #F6F6F6;
        border-radius: 0 0 5px 5px;
        color: $main-color;
        font-size: 18px;
        overflow-y: hidden;
        max-height: 1000px;
        transform-origin: top;
        transition: max-height 600ms, padding 600ms;

        @media (max-width: 550px){
            font-size: 12px;
            padding: 13px 20px 20px 20px;
        }

        &-hidden{
            max-height: 0;
            padding: 0 20px;
            transform-origin: bottom;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: flex-start;
            line-height: 25px;
            background-color: #F6F6F6;
            border-radius: 0 0 5px 5px;
            color: $main-color;
            font-size: 18px;
            overflow-y: hidden;
            transition: max-height 600ms, padding 600ms;

            @media (max-width: 550px){
                font-size: 12px;
            }
        }  
    }
}