.kasa-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 7% 50px 7%;

    @media (max-width: 550px){
        padding: 20px 5.5% 27px 5.5%;
    }

    &-img{
        
        @media (max-width: 550px){
            width: 145px;
        }  
    }

    &-nav{
        display: flex;
        gap: 57px;

        @media (max-width: 550px){
            gap: 26px;
        }

        &-active{
            text-decoration-line: underline;
        }

        & a{
            // white-space: nowrap;
            color: $main-color;
            font-size: 24px;

            @media (max-width: 550px){
                font-size: 12px;
                text-transform: uppercase;
            }
        }
    }
}