.kasa-lodging{
    &-body{
        margin: 0 7% 50px 7%;

        @media (max-width: 550px){
            margin: 0 5.5% 25px 5.5%;
        }
    }

    &-collapse{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    
        @media (max-width: 550px){
            grid-template-columns: 1fr;
            margin-bottom: 20px;
            gap: 20px;
        }
    }

    &-info{
        display: flex;
        justify-content: space-between;
        margin-bottom:28px;

        @media (max-width: 550px){
            flex-direction: column;
            gap: 16px;
            margin-bottom: 15px;
        }

        &-desc{
            display: flex;
            flex-direction: column;
            gap: 10px;

            &-title{
                font-size: 36px;
                color: $main-color;

                @media (max-width: 550px){
                    font-size: 18px;
                }
            }

            &-location{
                font-size: 18px;
                color: $main-color;

                @media (max-width: 550px){
                    font-size: 14px;
                }
            }
        

            &-tag{
                display : flex;
                flex-wrap: wrap;
                gap: 10px;
                width: 100%;

                &-text{
                    display: flex;
                    min-width: 115px; 
                    height: 25px; 
                    padding: 0 10px;
                    justify-content: center;
                    align-items: center;
                    border-radius: 10px;
                    background: #FF6060; 
                    color: white;
                    font-size: 14px; 

                    @media (max-width: 550px){
                        
                        font-size: 10px;
                        height: 18px;
                        min-width: 85px; 
                        border-radius: 5px;
                    }

                }
            }
        }

        &-hostRating{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;

            @media (max-width: 550px){
                flex-direction:row-reverse;
            }

            &-host{
                display:flex;
                align-items: center;
                gap: 10px;

                &-name{
                    font-size: 18px;
                    color: $main-color;

                    @media (max-width: 550px){
                        font-size: 12px;
                    }
                }

                &-img{
                    width:64px;
                    border-radius: 50%;

                    @media (max-width: 550px){
                        width:32px;
                    }
                }
            }
        }
    }
}

